{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 991px) {
		#hide {
			display: none;
		}
	}
	@media (max-width: 768px) {
		#pdss {
			padding-top: 200px;
		}
	}
	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	.movetitle{
		margin-bottom: 30px;
		margin-left: 10.5vw;
	}
	.pushdown {
		padding-top: 130px;
	}
	.spacing{
		margin: 20px 10px 10px 20px;
	}
	.rightcolstick {
		position: fixed;
	}

</style>


<!-- Main content -->
 <!--Main title only shows when the screen is large then sets to hidden-->
<div class="container pushdown" id="test">
	<div class="row">
		<div id="hide">
			<div class="card movetitle">
				<div class="spacing">
					<h1>Blog Online!</h1>
					<p>This is a page I created to allow any and all users to register and post blogs with images.
						Sign up is free and easy. You can search for any images uploaded by other users aswell as being able to edit your own.
						So, sign up and post away!</p>
				</div>
			</div>
		</div>
		<!-- Top title and detail of page (this bar only shows when screen size is small)-->
		<div class="d-lg-none mb-3">
			<div class="card m-auto d-flex flex-column p-3">
				<h1>Blog Online!</h1>
				<p>This is a page I created to allow any and all users to register and post blogs with images.
					Sign up is free and easy. You can search for any images uploaded by other users aswell as being able to edit your own.
					So, sign up and post away!</p>
			</div>
		</div>


		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create post' bar (this bar only shows when screen size is small)-->
			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="{% static 'penguin.jpeg' %}" width="150" height="150">
					<p class="lead">Top bar for creating posts</p>
					<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
				</div>
			</div>
			<!-- end Top 'create post' bar -->

			<!-- Blog posts-->
			{% if blog_posts %}
				{% for post in blog_posts %}
					<!--If a blog post is found-->
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
					</div>
				{% endfor %}
			{% else %}
					<!--If no post was found-->
				<div class="blog-post-container">
					{% include 'blog/snippets/blog_post_snippet.html' with query=query %}
				</div>
			{% endif %}

			
			<!-- End Blog posts-->
		
		<!-- Pagination -->
		{% include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts %}
		
		</div>
		<!-- end blog feed -->


		<!-- Right 'create post' column  (this bar only shows when screen size is large)-->
		 
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">
			<div class="card create-post-bar d-flex flex-column p-3 ">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'penguin.jpeg' %}" width="150" height="150">
				<p class="lead">You can create a post here. After its posted you can further update the title, text or image.
					You cannot edit other peoples post.
				</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
			</div>
		</div>
		
		<!-- end Right 'create post' column  -->



	</div>
</div>

{% endblock content %}