{% extends 'base.html' %}


{% block content %}
<style type="text/css">
    @media (max-width: 768px) {
		#pdss {
			padding-top: 200px;
		}
	}

    html,
    body {
    height: 100%;
    }

    .form-signin {
    max-width: 330px;
    padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="username"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .h3 {
        text-align: center;
    }
    .blog-posts {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .pushdown {
		padding-top: 100px;
	}

</style>
<form class="form-signin w-100 m-auto pushdown" id="pdss" method='POST'>{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Account</h1><!--Account change-->
    <!--Email to change-->
    <input type="email" name="email" class="form-control" placeholder="name@example.com" value="{{account_form.initial.email}}">
    <!--Username to change-->
    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" value="{{account_form.initial.username}}">
        
    {% for field in account_form %}
        <p>
            {% for error in field.errors %}<!--Error checks-->
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}

    {% if account_form.non_field_errors %}<!--Error checks-->
        <div style="color: red;">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}

    {% if success_message %}<!--Success message to show user the change has been made-->
        <p style="color: green;"; text-align: center;>{{ success_message }}</p>
    {% endif %}

    <button class="btn btn-primary w-100 py-2" type="submit">Save changes</button>
    
</form>


    <div class="d-flex flex-column">
        <a class="m-auto" href="{% url 'password_change' %}">Change password</a>
    </div>

    <!--A section to show all blog posts from the user/if any-->
    <div class="container mt-4 p-4">
        <div class="row">
            <div class="blog-posts">
                <h3 class="mb-3 font-weight-normal">Blog posts:</h3>
                {% if blog_posts %}
                <ul>
                    {% for post in blog_posts %}
                    <a class="form-control" href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
                        <li class="list-group-item">{{post}}</li>
                    </a>
                    {% endfor %}
                </ul>
                {% else %}<!--A link if the user hasn't posted yet and would like to-->
                <p>You have no blog posts. Create a post <a href="{% url 'blog:create' %}">here</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock content %}
