{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    @media (max-width: 768px) {
		#pdss {
			padding-top: 200px;
		}
	}
    
    html,
    body {
    height: 100%;
    }

    .form-signin {
    max-width: 330px;
    padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .h3 {
        text-align: center;
    }
    .pushdown {
		padding-top: 120px;
	}

</style>

<!--Login page-->
<form class="form-signin w-100 m-auto pushdown" id="pdss" method='POST'>{% csrf_token %}
    <div class="d-flex flex-column pb-3">
        <img class="img-fluid mx-auto d-block" src="{% static 'penguin.jpeg' %}" alt="Picture of penguin" width="70" height="70">
    </div>
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
  <!--Checks email is correct-->
    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
    </div>
<!--Checks password is correct-->
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
    </div>

    {% for field in login_form %}
        <p>
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p><!--Error checks-->
            {% endfor %}
        </p>
    {% endfor %}

    {% if login_form.non_field_errors %}
        <div style="color: red;">
            <p>{{login_form.non_field_errors}}</p><!--Error checks-->
        </div>
    {% endif %}

    <div class="form-check text-start my-3">
        <!--Remember me function so the user doesnt have to retype everytime they use the website-->
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
  
      <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
    
    </form>

    <!--Url to take the user to the reset password-->
    <div class="d-flex flex-column">
        <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
    </div>
    

    {% endblock content %}