{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .pushdown {
		padding-top: 120px;
	}

</style>
<!--A small window page if the user isn't authenticated it'll ask them to do so-->
<div class="container pushdown">
    <div class="d-flex flex-column">
        <p class="m-auto">Must authenticate to view this page</p>
        <p class="m-auto">
            <a href="{% url 'register' %}">Register</a> or
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>


{% endblock content %}